<div id="superContainer">
    <header class="main navbar navbar-fixed-top navbar-default ng-scope">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn btn-default" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="index">Schedule<strong>Planner</strong></a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse" nav-close-on-mobile>
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="generate"><i class="fa fa-calendar-o fa-fw"></i> Plan a
                        Schedule</a></li>
                    <li ui-sref-active="active"><a ui-sref="browse"><i class="fa fa-list fa-fw"></i> Browse Courses</a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="search"><i class="fa fa-search fa-fw"></i> Search
                        Courses</a></li>
                </ul>
            </div>
        </div>
    </header>
    <app-index></app-index>
    <footer class="main default">
        <div class="container">
            <div class="csh"><a target="_blank" href="http://www.csh.rit.edu/"><img
                    src="<?=$ASSETROOTADDRESS?>img/csh.png" alt="CSH"/></a></div>
            <a target="_blank"
               href="https://github.com/ComputerScienceHouse/schedulemaker">Version: <?=$APP_VERSION?></a> | <a
                ui-sref="help">Help</a> | <a href="/status">Status</a> | <a target="_blank"
                                                                            href="https://github.com/devinmatte/SchedulePlanner/issues">Report
            Issues</a>
            <div>
                Development: Devin Matte (matted at csh.rit.edu)<br>
                Hosting: <a href="https://www.csh.rit.edu/">Computer Science House</a><br>
            </div>
        </div>
    </footer>
    <footer class="main print">
        Made Using <a href='<?= $HTTPROOTADDRESS ?>'>CSH SchedulePlanner</a>
        <a href="https://www.csh.rit.edu/"><img height="25" src="/img/csh_print.png"></a>
    </footer>
</div>

